:root {
  --bg-color: #f5f5f5;
  --text-color: #6c757d;
  --accent-color: #ffd333;
  --contrast-color: #3d464d;
  --gray-color: #ccc;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.btn,
.dropdown-menu,
.form-control {
  border-radius: 0;
}

.btn-warning {
  background-color: var(--accent-color);
  color: var(--contrast-color);
}

.btn-outline-warning {
  border-color: var(--accent-color);
}
.btn-outline-warning:hover {
  background-color: var(--accent-color);
  color: var(--contrast-color);
}

.form-control {
  box-shadow: none;
}
.form-control:focus {
  color: var(--text-color);
  border-color: var(--accent-color);
  box-shadow: none;
}
.form-control::-moz-placeholder {
  color: var(--gray-color);
}
.form-control::placeholder {
  color: var(--gray-color);
}

html,
body {
  min-width: 320px;
  font-family: "Roboto", sans-serif;
  height: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

a {
  color: var(--text-color);
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.header-top {
  padding: 8px;
}

.header-top-phone__wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
}
.header-top-phone__wrapper .header-top-phone {
  display: flex;
  justify-content: start;
  gap: 10px;
}
.header-top-phone__wrapper .header-top-phone a {
  text-decoration: none;
}
.header-top-phone__wrapper .header-top-phone a:hover {
  text-decoration: underline;
}

ul.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
}
ul.social-icons a {
  background-color: var(--accent-color);
  color: var(--contrast-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: left;
  text-align: center;
  line-height: 30px;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
ul.social-icons a:hover {
  background-color: var(--contrast-color);
  color: var(--accent-color);
}

.header-top_button {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  height: 100%;
}

.header-middle {
  padding: 15px 0;
  background-color: white;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo__link {
  font-size: 44px;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--accent-color);
  transition: color 0.2s ease-out;
}
@media (max-width: 575px) {
  .header-logo__link {
    font-size: 32px;
  }
}
.header-logo__link span {
  color: var(--contrast-color);
  transition: color 0.2s ease-out;
}
.header-logo__link:hover {
  color: var(--contrast-color);
}
.header-logo__link:hover span {
  color: var(--accent-color);
}

.header-search {
  height: 38px;
}

.header-cart-favor {
  display: flex;
  align-items: center;
  justify-content: end;
}
.header-cart-favor .btn {
  display: flex;
  align-items: center;
  gap: 3px;
}

.header-bottom {
  border-top: 3px solid var(--accent-color);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.header-bottom .navbar,
.header-bottom .navbar .dropdown-menu {
  background-color: var(--contrast-color) !important;
}

.header-bottom .nav-item:first-child .nav-link {
  padding-left: 0;
}

.header-bottom .navbar .nav-link {
  color: #fff;
  transition: color 0.3s ease-out;
  letter-spacing: 0.1rem;
}
.header-bottom .navbar .nav-link:hover {
  color: var(--accent-color);
}

.header-bottom .navbar .nav-link.active {
  color: var(--accent-color);
}

.header-bottom .navbar .dropdown-menu {
  margin-top: 7px;
}

@media only screen and (min-width: 992px) {
  .header-bottom .navbar .dropdown-menu-end {
    margin-left: 0px;
    border: 0;
  }
  .header-bottom .navbar .nav-link {
    padding: 1rem 0.5rem;
  }
}
@media only screen and (max-width: 992px) {
  .header-bottom .navbar .dropdown-menu {
    margin-left: 1rem;
  }
}/*# sourceMappingURL=main.css.map */